* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a:hover {
    cursor: pointer;
}
.body {
    text-align: left;
}
.todo-list {
    width: 50%;
}
.todo-list li {
    display: flex;
    outline: 2px solid black;
    border-radius: 3px;
    flex-direction: row;
    justify-content: space-between;
}
.todo-list li h4 {
    display: inline;
}

#title,
#text {
    width: 50%;
    outline: 2px solid black;
    border-radius: 3px;
}
#title > input,
#text > textarea {
    width: 100%;
    border: none;
    resize: none;
}
