* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.body {
  display: flex;
  width: 1200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}
